.container1{
    background-color: rgba(144, 100, 61, 0.8);
            }
.container2{
                background-color: rgba(102, 230, 237, 0.6);
            }
.container3{
                background-color: rgb(183, 88, 169);
            }
